body {
    font-family: San Francisco, Helvetica, Arial, sans-serif;
    width: 100%;
}

img {
    height: 240px;
    width: 200px;
    margin: auto;
}

.header {
    font-size: 40px;
    font-weight: 200;
    margin: 50px 50px;
}

.story {
    font-size: 18px;
    font-weight: 200;
    line-height: 24px;
    margin: 30px 0 0 0;
    width: 80%;
}

.story > a {
    text-decoration: none;
    color: #34b4eb;
}

.about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px 0 0 0;
}
.personal-info {
    margin: 0 50px;
    width: 30%;
}
.info-block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 30px 0;
}

.about-header {
    font-size: 32px;
    font-weight: 200;
    margin: 15px 0;
}

.about-link a{
    text-decoration: none;
    color: #34b4eb;
}

.about-link {
    font-size: 16px;
    font-weight: 100;
    color: #34b4eb;
    line-height: 26px;
}

.about-link a:hover {
    color: blue;
}

.story-header {
    font-size: 32px;
    font-weight: 200;
    margin: 0 0 15px 0;
}

.main {
    width: 70%;
}
